<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 <title>Productividad de pozos</title>
</head>

<body class="body2">
 <header>
  <img class="logo" src="{{ url_for('static', path='img/fiunam.png') }}" alt="logo">
  <button class="abrir-menu" id="abrir"><i class="bi bi-list"></i> </button>
  <nav class="nav" id="nav">
   <button class="cerrar-menu" id="cerrar"><i class="bi bi-x-lg"></i></button>
   <ul class="nav-list">
    <li><a href="/">Inicio</a></li>
    <li><a href="/biografia">Biografia</a></li>
    <li><a href="vogel">Vogel generalizado</a></li>
    <li><a href="back-pressure">Back Pressure</a></li>
    <li><a href="eickmeier">Eickmeier</a></li>
    <li><a href="standing">Standing</a></li>
    <li><a href="/agradecimientos">Agradecimientos</a></li>
   </ul>
  </nav>
 </header>

 <div id="contenedor_principal2">
  <div class="parrafos" style="opacity: 100%; margin-bottom: 0;">
   <h1 style="text-align: center;"> Método de Back Pressure
  </h1>
   <table style="width: 100%;" cellpading="0" cellspacing="0">
    <tr>
     <td
      style="width: 50%; vertical-align: top; text-align: justify; padding-right: 20px; border-right: solid 2px black;">
      <p>
       <span>Antecedentes</span><br>
       El back pressure (o presión de retorno) se refiere a la resistencia o presión
       ejercida en el flujo de un fluido, en este caso, en la producción de gas en un pozo. Esta
       presión es
       generada por diferentes factores, como restricciones en el sistema de producción, equipos de
       control de
       flujo, reguladores de presión, entre otros.
      </p>
      <p>
       En la producción de pozos de gas, el back pressure se utiliza para controlar el flujo de gas
       y mantener
       una presión adecuada en el yacimiento. Esto se logra ajustando diferentes parámetros, como
       el índice de
       turbulencia (n) y la constante de estabilización del comportamiento de flujo (C), que
       determinan la
       relación entre la presión y la tasa de flujo de gas.
      </p>
      <p>
       Gráficamente, el back pressure se representa en un gráfico de presión versus tasa de flujo.
       En este
       gráfico, la presión se representa en el eje vertical y la tasa de flujo de gas en el eje
       horizontal. La
       curva resultante muestra la relación entre la presión y la tasa de flujo, y cómo varía con
       diferentes
       niveles de back pressure.
      </p>
      <p>
       <span>Objetivo</span> <br>
      <ul>
       <li>
        El objetivo del método Backpressure es controlar y optimizar el flujo de gas en los
        pozos
        de gas.
       </li>
       <li>
        Busca estabilizar el comportamiento de flujo y maximizar la producción sostenible.
       </li>
       <li>
        Se enfoca en mantener una presión de fondo fluyendo adecuada en el yacimiento.
       </li>
       <li>
        Optimiza la eficiencia del proceso de producción al minimizar las fluctuaciones de
        presión y maximizar
        la recuperación del gas.
       </li>
      </ul>
      </p>
      <p style="font-style: italic; text-decoration: underline;">
       En resumen, el objetivo es maximizar la producción, mantener la presión adecuada y optimizar
       la
       eficiencia del proceso de producción de gas.
      </p>
      <img src="{{ url_for('static', path='img/back-1.jpeg') }}" alt="n1" style="width: 100%;">
     </td>
     <td style="width: 50%; vertical-align: top; padding-left: 20px;">
      <p>

       Metodología

      <ol>
       <li>
        Realiza pruebas de presión para obtener datos de gasto (qg) y diferencia de presión al
        cuadrado
        ((pR^2 - pwf^2)).
       </li>
       <li>
        Grafica el gasto de gas (qg) versus la diferencia de presión al cuadrado en una escala
        logarítmica-logarítmica.
       </li>
       <li>
        Selecciona cuatro puntos estables en la línea recta resultante.
       </li>
       <li>
        Calcula la pendiente de la línea recta, que representa el valor de n (índice de
        turbulencia).
       </li>
       <li>
        Calcula el valor de C utilizando la ecuación: C = qg / ((pR^2 - pwf^2) * n).
       </li>
       <li>
        Calcula el Potencial Absoluto de Flujo Abierto de un pozo (AOFP) utilizando el valor
        máximo del gasto
        de gas (qgmax), que se obtiene multiplicando el valor de C por ((pR^2 - patm^2) * n),
        donde patm es la
        presión atmosférica.
       </li>
      </ol>
      </p>
      <p>
       Estos pasos te permitirán determinar los valores de C y n para analizar el comportamiento de
       flujo en
       pozos de gas. Además, el valor de n puede variar entre 0.5 (flujo turbulento) y 1 (flujo
       laminar),
       dependiendo de las características del yacimiento.
      </p>
      <p>
       <span>
        Modelo matemático
       </span> <br>
       El modelo matemático permite predecir cómo cambiará la presión y la tasa de flujo de gas en
       función de
       diferentes ajustes en el back pressure. Esto ayuda a los ingenieros y operadores a tomar
       decisiones
       informadas sobre cómo controlar y optimizar la producción de gas en los pozos.
      </p>
      <img src="{{ url_for('static', path='img/back-2.jpeg') }}" alt="n2" width="100%">
     </td>
    </tr>
   </table>

   <p style="font-weight: bold;">
    En general, cuando se aplica back pressure en un pozo de gas, se observa que a medida que aumenta la
    presión, la tasa de flujo de gas disminuye. Esto se debe a la resistencia o contrapresión que se ejerce
    sobre el flujo. La forma de la curva puede variar dependiendo de las características del yacimiento y de
    los parámetros de ajuste utilizados. <br>
    <span style="text-decoration: underline;">Back Pressure: Controla el flujo, maximiza la
     producción</span>
   </p>
  </div>


  <div class="container mt-5">
   <div class="row">
    <!-- Columna del formulario -->
    <div class="col-md-6">
     <div class="card">
      <div class="card-body">
       <h5 class="card-title">Formulario</h5>
       <form>
        <div class="mb-3">
         <label for="pws">
          <p>Pws o presión media del yacimiento<br></p>
         </label>
         <input type="text" id="pws" name="pws" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>
        </div>
        <div class="mb-3">
         <label for="pwf1">
          <p>Presion de fondo fluyente (punto 1)</p>
         </label>
         <input type="text" id="pwf1" name="pwf1" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
        </div>

        <div class="mb-3">
         <label for="pwf2">
          <p>Presion de fondo fluyente (punto 2)</p>
         </label>
         <input type="text" id="pwf2" name="pwf2" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
        </div>

        <div class="mb-3">
         <label for="qg1">
          <p>Gasto (punto 1)</p>
         </label>
         <input type="text" id="qg1" name="qg1" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
        </div>

        <div class="mb-3">
         <label for="qg2">
          <p>Gasto (punto 2)</p>
         </label>
         <input type="text" id="qg2" name="qg2" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
        </div>

        <div class="mb-3">
         <label for="r">
          <p>Numero de puntos (grafica)</p>
         </label>
         <input type="text" id="r" name="r" pattern="^[-+]?\d+$" required class="field">
        </div>

       </form>
       <div class="mb-3" style="text-align: center;">
        <button type="button" class="btn  btn-success" id="calcular">Calcular</button>
       </div>
      </div>
     </div>
    </div>


    <!-- Columna de gráficos -->
    <div class="col-md-6">
     <div class="card">
      <div class="card-body d-flex flex-wrap justify-content-center align-items-center">
       <div style="width: 350px; height: 300px; margin: 10px;" class="text-center">
        <h6 class="card-subtitle mb-2 text-muted">Gráfico Back Pressure</h6>
        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalGrafico1">
         <i class="fas fa-plus"></i> Abrir
        </button>
        <canvas id="myChart"></canvas>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="row mt-3">
    <div class="col-md-12">
     <div class="card">
      <div class="card-body">
       <h5 class="card-title">Resultados del metodo</h5>
       <div id="results"></div>
      </div>
     </div>
    </div>
   </div>
  </div>

  <!-- Modales para los gráficos -->
  <div class="modal fade" id="modalGrafico1" tabindex="-1" aria-labelledby="modalGrafico1Label" aria-hidden="true">
   <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title" id="modalGrafico1Label">Gráfico Bajo Saturada</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">
      <canvas id="modalChart1"></canvas>
     </div>
    </div>
   </div>
  </div>

  <footer>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="{{ url_for('static', path='js/BackPressure.js') }}"></script>
   <!--<script src="{{ url_for('static', path='js/graficasVogel.js') }}"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
   <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
  </footer>
</body>

</html>