<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Productividad de pozos</title>
</head>

<body class="body2">
  <header>
    <img class="logo" src="{{ url_for('static', path='img/fiunam.png') }}" alt="logo">
    <button class="abrir-menu" id="abrir"><i class="bi bi-list"></i> </button>
    <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar"><i class="bi bi-x-lg"></i></button>
      <ul class="nav-list">
        <li><a href="/">Inicio</a></li>
        <li><a href="/biografia">Biografia</a></li>
        <li><a href="vogel">Vogel generalizado</a></li>
        <li><a href="back-pressure">Back Pressure</a></li>
        <li><a href="eickmeier">Eickmeier</a></li>
        <li><a href="standing">Standing</a></li>
        <li><a href="/agradecimientos">Agradecimientos</a></li>
      </ul>
    </nav>
  </header>

  <div id="contenedor_principal2">
    <div class="parrafos">
      <h1> Método de Eickmeier (Fetkovich+Vogel) ip futura</h1>
      <p style="color: black">

        <br>1) Antecedentes: El método de Fetkovich es una técnica ampliamente utilizada en la industria del
        petróleo y gas para predecir el comportamiento de producción de un pozo a lo largo del tiempo. Este
        método se basa en el análisis de la presión y la tasa de flujo de fluido en el yacimiento.<br> <br>
        La producción de un pozo está influenciada por varios factores, como la permeabilidad del yacimiento, la
        porosidad, el tipo de fluido presente y la geometría del yacimiento. A medida que se extrae el fluido
        del yacimiento, la presión disminuye, lo que afecta la tasa de flujo de producción. El método de
        Eickmeier utiliza modelos matemáticos y análisis estadísticos para predecir cómo cambiará la tasa de
        producción a medida que varía la presión.<br><br>
        <br>
        2) Objetivos: El objetivo del método de Eickmeier es proporcionar una herramienta eficaz para predecir
        el comportamiento de producción futura de un pozo en la industria del petróleo y gas. Al combinar los
        métodos de Fetkovich y Vogel, este enfoque busca brindar a los ingenieros de reservorios una comprensión
        clara del potencial de producción de un pozo y permitirles planificar las operaciones de producción de
        manera eficiente.<br><br>
        El objetivo final del método de Eickmeier es mejorar la eficiencia de la producción y optimizar la
        recuperación de hidrocarburos del yacimiento. Al proporcionar a los ingenieros de reservorios una
        comprensión clara del potencial de producción de un pozo, les permite planificar las operaciones de
        producción de manera eficiente y tomar decisiones informadas sobre estrategias de producción y
        programación de operaciones. Esto implica ajustar parámetros como la presión de fondo de pozo, la
        inyección de fluidos y la optimización de la producción para maximizar la recuperación de petróleo y gas
        del yacimiento.<br><br>
        3) La metodología del método de Eickmeier, que combina los métodos de Fetkovich y Vogel, se puede
        resumir de la siguiente manera:<br>
        • Realizar una prueba de producción: Se lleva a cabo una prueba de producción en el pozo para recopilar
        datos necesarios como la tasa de producción de petróleo (qo), la presión de fondo fluyente (pwf) y la
        presión de reserva (pr).<br><br>
        • Utilizar la ecuación de Vogel: Con los datos obtenidos de la prueba de producción, se utiliza la
        ecuación de Vogel para determinar la tasa de producción máxima de petróleo (qo(max)P). Esta ecuación
        tiene en cuenta la relación entre la tasa de producción y la presión de fondo fluyente.<br><br>
        • Calcular qo(max)F: Utilizando la tasa de producción máxima de petróleo obtenida en el paso anterior
        (qo(max)P), se calcula la tasa de producción máxima ajustada (qo(max)F) utilizando la siguiente
        fórmula:<br><br>
        qo(max)F = qo(max)P * (pr F / pr P)^3 Donde pr F es la presión de reserva en el futuro y pr P es la
        presión de reserva actual.<br><br>
        • Calcular qo F: Finalmente, se calcula la tasa de producción ajustada en el futuro (qo F) utilizando la
        siguiente fórmula: qo F = qo(max)F * (1 - 0.2 * (pwf / pr F) - 0.8 * (pwf / pr F)^2) Donde pwf es la
        presión de fondo fluyente en el futuro.<br><br>
        Estos pasos permiten ajustar las tasas de producción de petróleo (qo) en el futuro utilizando el método
        de Eickmeier. Es importante destacar que este método se basa en la recopilación de datos y cálculos
        matemáticos para obtener estimaciones más precisas de la producción futura del pozo.<br><br>

        4) Modelo matemático: La ventaja de este modelo es que combina los métodos de Fetkovich y Vogel, que son
        ampliamente reconocidos en la industria y han demostrado ser efectivos para predecir la producción. Al
        combinar estos métodos, se tiene en cuenta tanto la relación entre la tasa de producción y la presión de
        fondo fluyente, como la tasa de producción máxima.<br><br>
      </p>

      <img src="{{ url_for('static', path='img/eickemer.jpeg') }}" alt="">
    </div>

    <form id="miFormulario" style="width: 500px;">
      <label for="qo">
        <p>Gasto de aceite (Qo)<br></p>
      </label>
      <input type="text" id="qo" name="qo" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>

      <label for="prP"><br>
        <p>Presion media Presente o pws presente<br></p>
      </label>
      <input type="text" id="prP" name="prP" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>

      <label for="pwf"><br>
        <p>Presion de fondo fluyente (pwf)<br></p>
      </label>
      <input type="text" id="pwf" name="pwf" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>


      <label for="prF"><br>
        <p>Presion media futura o pws futura<br></p>
      </label>
      <input type="text" id="prF" name="prF" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>

    </form>
    <div style="margin-top: 10px;">
      <button type="button" class="btn  btn-success" id="calcular">Calcular</button>
    </div>

    <!-- <canvas id="myChart"></canvas> -->
    <script src="{{ url_for('static', path='js/Eickmeier.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
      </script>
</body>

</html>