<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!doctype html>
  <html lang="es">


<body class="body2">
  <header>
    <img class="logo" src="{{ url_for('static', path='img/fiunam.png') }}" alt="logo">
    <button class="abrir-menu" id="abrir"><i class="bi bi-list"></i> </button>
    <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar"><i class="bi bi-x-lg"></i></button>
      <ul class="nav-list">
        <li><a href="/">Inicio</a></li>
        <li><a href="/biografia">Biografia</a></li>
        <li><a href="vogel">Vogel generalizado</a></li>
        <li><a href="back-pressure">Back Pressure</a></li>
        <li><a href="eickmeier">Eickmeier</a></li>
        <li><a href="stading">Standing</a></li>
        <li><a href="/agradecimientos">Agradecimientos</a></li>
      </ul>
    </nav>
  </header>

  <div id="contenedor_principal2">
    <div class="parrafos">
      <h1> Método de Vogel <br><br></h1>
      <p style="color: black">
        <br>1.- Antecedentes: El método de Vogel es una técnica ampliamente utilizada en la industria del
        petróleo y gas para generar una curva de Índice de Productividad (IPR), que representa la relación entre
        la tasa de producción de petróleo y la presión de fondo fluyente en un pozo.<br><br>
        Esta curva es una herramienta esencial para entender el potencial de producción de un pozo y para
        planificar las operaciones de producción. <br><br>
        2.- Objetivos: El objetivo principal de este trabajo es aplicar el método de Vogel para generar la curva
        IPR de un pozo de petróleo específico.<br><br>
        Esto nos permitirá entender el potencial de producción del pozo y predecir su comportamiento de
        producción para diferentes presiones de fondo fluyente. <br><br>
        Además, buscaremos identificar cualquier variación en la tasa de producción de petróleo con la presión
        de fondo fluyente que pueda indicar problemas potenciales en el pozo.<br><br>
        3.- Metodología: <br><br>
        a: Recopilación de datos:<br><br>
        Presión estática del yacimiento.<br><br>
        Presión de fondo fluyente.<br><br>
        Tasa de producción de petróleo.<br><br>
        b: Utilización de la ecuación de Vogel:<br><br>
        Calcularemos el Índice de Productividad utilizando la ecuación de Vogel.<br><br>
        Calcularemos la tasa de producción de petróleo para diferentes presiones de fondo fluyente utilizando la
        misma ecuación.<br><br>
        c: Generación de la curva IPR:<br><br>
        Utilizaremos los datos obtenidos para generar la curva IPR (Índice de Productividad vs. Presión de fondo
        fluyente).<br><br>
        4: Modelo matemático: El modelo matemático se basa en una serie de ecuaciones que calculan la tasa de
        producción de petróleo para diferentes presiones de fondo fluyente. <br><br>
        Maximiza el potencial petrolero con el método de Vogel: predice y optimiza<br><br><br><br>
      </p>
      <img src="{{ url_for('static', path='img/Vogel.jpeg') }}" alt="">

    </div>
    <div style="margin-bottom: 10px;">
      <form id="miFormulario" style="width: 500px;">

        <label for="qo">
          <p>Gasto de aceite (qo)<br></p>
        </label>
        <input type="text" id="qo" name="qo" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>

        <label for="pr">
          <p>Pws o presión media del yacimiento<br></p>
        </label>
        <input type="text" id="pr" name="pr" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>

        <label for="pwf"><br>
          <p>Presion de fondo fluyente <br></p>
        </label>
        <input type="text" id="pwf" name="pwf" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>

        <label for="pb"><br>
          <p>Presion de burbuja<br></p>
        </label>
        <input type="text" id="pb" name="pb" pattern="^[-+]?\d+(\.\d+)?$" required class="field"><br>

        <label for="r"><br>
          <p>Numero de puntos (grafica)<br></p>
        </label>
        <input type="text" id="r" name="r" pattern="^[-+]?\d+$" required class="field" maxlength="2"><br>

      </form>
    </div>

    <button type="button" class="btn  btn-success" id="calcular">Calcular</button>



    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='js/Vogel.js') }}"></script>
    <!--<script src="{{ url_for('static', path='js/graficasVogel.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
      </script>
    <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
</body>

</html>