<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!doctype html>
  <html lang="es">


<body class="body2">
  <header>
    <img class="logo" src="{{ url_for('static', path='img/fiunam.png') }}" alt="logo">
    <button class="abrir-menu" id="abrir"><i class="bi bi-list"></i> </button>
    <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar"><i class="bi bi-x-lg"></i></button>
      <ul class="nav-list">
        <li><a href="/">Inicio</a></li>
        <li><a href="/biografia">Biografia</a></li>
        <li><a href="vogel">Vogel generalizado</a></li>
        <li><a href="back-pressure">Back Pressure</a></li>
        <li><a href="eickmeier">Eickmeier</a></li>
        <li><a href="stading">Standing</a></li>
        <li><a href="/agradecimientos">Agradecimientos</a></li>
      </ul>
    </nav>
  </header>


  <div id="contenedor_principal2">
    <div class="parrafos" style="opacity: 100%; margin-bottom: 0;">
      <h1 style="text-align: center;"> Método de Vogel </h1>
      <table style="width: 100%;" cellpading="0" cellspacing="0">
        <tr>
          <td
            style="width: 50%; vertical-align: top; text-align: justify; padding-right: 20px; border-right: solid 2px black;">
            <p style="color: black;">
              1.- Antecedentes: El método de Vogel es una técnica ampliamente utilizada en la industria del
              petróleo y gas para generar una curva de Índice de Productividad (IPR), que representa la relación entre
              la tasa de producción de petróleo y la presión de fondo fluyente en un pozo.</p>
            <p>
              Esta curva es una herramienta esencial para entender el potencial de producción de un pozo y para
              planificar las operaciones de producción.
            </p>
            <p>
              2.- Objetivos: El objetivo principal de este trabajo es aplicar el método de Vogel para generar la curva
              IPR de un pozo de petróleo específico.
            </p>
            <p>
              Esto nos permitirá entender el potencial de producción del pozo y predecir su comportamiento de
              producción para diferentes presiones de fondo fluyente.
            </p>
            <p>
              Además, buscaremos identificar cualquier variación en la tasa de producción de petróleo con la presión
              de fondo fluyente que pueda indicar problemas potenciales en el pozo.
            </p>
            <img src="{{ url_for('static', path='img/Vogel.jpeg') }}" alt="vogel" width="100%">
          </td>
          <td style="width: 50%; vertical-align: top; padding-left: 20px;">
            <p>
              3.- Metodología:
            </p>
            <p>
              a: Recopilación de datos:
            <ul>
              <li>
                Presión estática del yacimiento.
              </li>
              <li>
                Presión de fondo fluyente.
              </li>
              <li>
                Tasa de producción de petróleo.
              </li>
            </ul>
            </p>
            <p>
              b: Utilización de la ecuación de Vogel:
            <ul>
              <li>
                Calcularemos el Índice de Productividad utilizando la ecuación de Vogel.
              </li>
              <li>
                Calcularemos la tasa de producción de petróleo para diferentes presiones de fondo fluyente utilizando la
                misma ecuación.
              </li>
              <li>
                Calcularemos el Índice de Productividad utilizando la ecuación de Vogel.
              </li>
            </ul>
            </p>
            <p>
              c: Generación de la curva IPR:
            <ul>
              <li>
                Utilizaremos los datos obtenidos para generar la curva IPR (Índice de Productividad vs. Presión de fondo
                fluyente)
              </li>
            </ul>
            </p>
            <p>
              4: Modelo matemático: El modelo matemático se basa en una serie de ecuaciones que calculan la tasa de
              producción de petróleo para diferentes presiones de fondo fluyente.
              Maximiza el potencial petrolero con el método de Vogel: predice y optimiza
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div class="container mt-5">
      <div class="row">
        <!-- Columna del formulario -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Formulario</h5>
              <form>
                <div class="mb-3">
                  <label for="qo">
                    Gasto de aceite (qo)
                  </label>
                  <input type="text" id="qo" name="qo" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
                </div>
                <div class="mb-3">
                  <label for="pr">
                    Pws o presión media del yacimiento
                  </label>
                  <input type="text" id="pr" name="pr" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
                </div>

                <div class="mb-3">
                  <label for="pwf">
                    Presion de fondo fluyente
                  </label>
                  <input type="text" id="pwf" name="pwf" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
                </div>

                <div class="mb-3">
                  <label for="pb">
                    Presion de burbuja
                  </label>
                  <input type="text" id="pb" name="pb" pattern="^[-+]?\d+(\.\d+)?$" required class="field">
                </div>

                <div class="mb-3">
                  <label for="r">
                    Numero de puntos (grafica)
                  </label>
                  <input type="text" id="r" name="r" pattern="^[-+]?\d+$" required class="field" maxlength="2">
                </div>
              </form>
              <div class="mb-3" style="text-align: center;">
                <button type="button" class="btn  btn-success" id="calcular">Calcular</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Columna de gráficos -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body d-flex flex-wrap justify-content-center align-items-center">
              <div style="width: 300px; height: 250px; margin: 10px;" class="text-center">
                <h6 class="card-subtitle mb-2 text-muted">Gráfico Bajo Saturada</h6>
                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                  data-bs-target="#modalGrafico1">
                  <i class="fas fa-plus"></i> Abrir
                </button>
                <canvas id="myChart"></canvas>
              </div>

              <div style="width: 300px; height: 250px; margin: 10px;" class="text-center">
                <h6 class="card-subtitle mb-2 text-muted">Gráfico Saturada</h6>
                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                  data-bs-target="#modalGrafico2">
                  <i class="fas fa-plus"></i> Abrir
                </button>
                <canvas id="myChart2"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Resultados del metodo</h5>
              <div id="results"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modales para los gráficos -->
    <div class="modal fade" id="modalGrafico1" tabindex="-1" aria-labelledby="modalGrafico1Label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalGrafico1Label">Gráfico Bajo Saturada</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <canvas id="modalChart1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalGrafico2" tabindex="-1" aria-labelledby="modalGrafico2Label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalGrafico2Label">Gráfico Saturada</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <canvas id="modalChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="{{ url_for('static', path='js/Vogel.js') }}"></script>
      <!--<script src="{{ url_for('static', path='js/graficasVogel.js') }}"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
      <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
    </footer>

</body>

</html>